<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须是接口的全类名 -->
<mapper namespace="com.example.mapper.UsersMapper">
    <!-- id必须跟接口的对应的方法名保持一致 -->
    <insert id="insertUser">
	   insert into user(name, age) values (#{name}, #{age})
	</insert>
    <!--查找所有用户-->
    <select id="selectAll" resultType="users">
		select id, name, age from user
	</select>
	<select id="findUserById" resultType="users">
		select id, name, age from user where id = #{id};
	</select>
	<update id="updateUser">
		update user set name=#{name}, age=#{age} where id=#{id};
	</update>
	<delete id="deleteUserById">
		delete from user where id=#{id};
	</delete>
</mapper>


